.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-wrapper--inner {
  margin-left: -150px;
}
.menu-wrapper {
  order: 3;
}

.scroll-menu-arrow {
  padding: 0 20px;
  cursor: pointer;
}
.scroll-menu-arrow:first-child {
  order: 1;
}
.scroll-menu-arrow:nth-child(3) {
  order: 1;
}
.horizontal-menu {
  flex-wrap: wrap;
  justify-content: flex-end;
}
